.{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	font-family:'poppins',sans-serif;
	scroll-behavior: smooth;
}
body{
	background-color:#f4f7f6;
	color:#333;
	line-height:1.6;
}
.navbar{
	display:flex;
	justify-content:space-between;
	align-items:center;
	padding:20px 10%;
	background:#fff;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	position:sticky;
	top:0;
	z-index:1000;
}
.logo{
	font-size:24px;
	font-weight:bold;
	color:#2d3436;
}
.logo span{
	color:#00cec9;
}
.menu{
	list-style:none;
	display:flex;
}
.menu li{
	margin-left:25px;
}
.menu a{
	text-decoration:none;
	color:#2d3436;
	font-weight:500;
	transition:0.3s;
}
.menu a:hover{
	color:#00cec9;
}
.tombol-nav{
	background:#00cec9;
	color:#fff limportant;
	padding: 8px 20px;
	border-radius:20px
}
.hero{
	height:80vh;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
	background:linear-gradient(135deg, #00cec9 0% #0984e3 %100);
	color:white;
}
.hero-text h1{
	font-size :3rem;
	margin-bottom: 10px;
	color:#00cec9;
}
.hero-text p{
	color:#00cec9;
}
.hero-text span{
	display:block;
	font-size:1.5rem;
	font-weight:300;
}
.bagian-skill{
	padding:80px 10%;
	text-align:center;
}
.judul{
	margin-bottom:40px;
	font-size:2rem;
	position:relative;
}
.wadah-grid{
	display:grid;
	grid-template-columns:repeat(auto-fit, minmax(150px,1fr));
	gap:20px;
}
.kartu-skill{
	background:white;
	padding :30px;
	border-radius:10px;
	box-shadow:0 5px 15px rgba(0,0,0,0.05);
	font-weight:bold;
	transition:0.3s;
}
.kartu-skill:hover{
	transform:translateY(-10px);
	background:#00cec9;
	color:white;
}
.bagian-projek{
	padding:80px 10%;
	background:#eef2f3;
}
.wadah-projek{
	display:flex;
	flex-wrap:wrap;
	gap:20px;
	justify-content:center;
}
.kotak-projek{
	background:white;
	width:300px;
	border-radius:15px;
	overflow:hidden;
	box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.gambar-projek{
	height: 180px;
	background:#ddd;
	display:flex;
	align-items: center;
	justify-content: center;
}
.kotak-projek h3{
	padding:20px;
	text-align:center;
}
.bagian-kontak{
	padding:100px 10%;
	background:url('https://source.unsplash.com/random/1600*900/?abstract') no-repeat center center/cover;
	display:flex;
	justify-content:center;
}
.from-kaca{
	background:rgba(255,255,255,0.2);
	backdrop-filter:blur(10px);
	padding:40px;
	border-radius:20px;
	width:100%;
	max-width:500px;
	border:1px solid rgba(255,255,255,0.3);
	text-align:center;
}
.from-kaca h2{
	color:#00cec9;
	margin-bottom:20px;
}
input,textarea{
	width:100%;
	padding:12px;
	margin-bottom:15px;
	border:none;
	border-radius:8px;
	outline:none;
}
.tombol-kirim{
	width:100%;
	padding:12px;
	border:none;
	background:#00cec9;
	color:white;
	font-weight: bold;
	border-radius:8px;
	cursor:pointer;
	transition:0.3s;
}
.tombol-kirim:hover{
	background:#00b894;
}
footer{
	text-align:center;
	padding:20px;
	background:#2d3436;
	color:white;
}